<section class="container criar-pensamentos ff-inter">
  <header class="header">
      <h2>Adicione um <br> pensamento novo:</h2>
  </header>

  <form>

    <label for="pensamento">Pensamento</label>
    <input
      id="pensamento"
      type="textarea"
      class="input"
      name="pensamento"
      placeholder="Escreva seu pensamento aqui"
      [(ngModel)]="pensamento.conteudo"
    >

    <label for="autor">Autoria ou fonte</label>
    <input
      id="autor"
      type="textarea"
      class="input"
      name="pensamento"
      placeholder="Quem é o autor??"
      [(ngModel)]="pensamento.autoria"
    >

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">

      <div class="container-radio">
        <div class="radio-modelo" *ngFor="let iter of [1, 2, 3]">
          <label for="modelo{{iter}}">
            <input
              type="radio"
              id="modelo{{iter}}"
              name="modelo-card"
              [(ngModel)]="pensamento.modelo"
              [value]="'modelo' + iter"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo {{iter}}</span>
          </label>
          Previa:

          <div class="modelo modelo{{iter}} ff-roboto-mono">
            <img src="../../../../assets/imagens/modelo{{iter}}.png" alt="Fundo do modelo {{iter}}">
            <p class="conteudo">{{pensamento.conteudo}}</p>
            <p class="autor"><b>{{pensamento.autoria}}</b></p>
          </div>
        </div>
      </div>

    </div>

    <div class="acoes">
      <button (click)="criarPensamento()" class="botao botao-salvar" type="button">Salvar</button>
      <button class="botao botao-cancelar">Cancelar</button>
    </div>

  </form>
</section>
